<div class="container"
    *ngIf="this.authService.isLogged()">
    <h2>Reset Password</h2>
    <br>
    <form (ngSubmit)="onSubmit(reset.value)"
        #reset="ngForm">
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password"
                class="form-control"
                ngModel
                name="currentPassword"
                placeholder="Current Password"
                required>
            <br>
            <label for="newPassword">New Password</label>
            <input type="password"
                class="form-control"
                ngModel
                name="newPassword"
                placeholder="New Password"
                pattern="[A-Za-z0-9_!@#\$%\^&\*]{6,}"
                placeholder="Option (6 characters minimum)"
                required>
            <br>
            <button type="submit"
                class="btn btn-primary"
                [disabled]="!reset.form.valid">Save change</button>
        </div>
    </form>
    <div *ngIf="message"
        class="alert alert-warning"
        role="alert">{{message}}</div>
</div>
