<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <p>Duranteu Ludovic
          <br>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </p>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="mailto:duranteau.l.i@gmail.com?subject=from%20votting-app">Email</a>
          </li>
          <li>
            <a class="text-muted" href="https://www.linkedin.com/in/ludovic-duranteau-8664a6140/" target="_blank">Linkedin</a>
          </li>
          <li>
            <a class="text-muted" href="https://twitter.com/31sCom" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="https://nodejs.org/en/" target="_blank">node.js</a>
          </li>
          <li>
            <a class="text-muted" href="http://expressjs.com/" target="_blank">express.js</a>
          </li>
          <li>
            <a class="text-muted" href="https://angular.io/" target="_blank">angular</a>
          </li>
          <li>
            <a class="text-muted" href="https://cli.angular.io/" target="_blank">angular-cli</a>
          </li>
          <li>
            <a class="text-muted" href="https://getbootstrap.com/" target="_blank">bootstrap</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
