<div class="container">
    <div class="px-3 pt-md-3 pb-md-4 mx-auto text-center container">
        <h1 class="">FreeCodeCamp Project</h1>
        <p class="lead">This project is part of the backend section: Dynamic Web Application Projects.
            <br> The goal is to create an application with these
            <a href="https://www.freecodecamp.org/challenges/build-a-voting-app"
                target="_blank">instructions</a> and to follow this example
            <a href="https://fcc-voting-arthow4n.herokuapp.com/polls"
                target="_blank">link</a>.
            <br> I have made some improvements to it.
        </p>
    </div>
    <div class="container text-left">
        <ol class="list-group">
            <li class="list-group-item">
                First of all the application was realized with node.js and express.js for the backend part.
                <br> Angular with angle-cli and bootstrap for the frontend part.
            </li>
            <li class="list-group-item">
                The offline user can see the list of polls and click to view statistics.
            </li>
            <li class="list-group-item">
                Only an administrator can create a poll.
                <br> He can see the list of polls he has created and delete the one he no longer wants.
                <br> He cannot participate in a survey, but only see the statistics.
            </li>
            <li class="list-group-item">
                The logged-in user can participate in a survey, but only once. If he clicks again, he will only be able to view the statistics.
            </li>
            <li class="list-group-item">
                Both administrator and user can reset their password.
            </li>
        </ol>
    </div>
    <div class="px-3 pt-md-3 pb-md-4 mx-auto text-center container">
        <p class="">Heroku link
            <a href="https://id-votingapp.herokuapp.com/home"
                target="_blank">here</a> || Github link
            <a href="https://github.com/duranteau-l-i/voting-app"
                target="_blank">here</a>
        </p>
    </div>
