<div>
  <div class="px-3 pt-md-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4">FreeCodeCamp Project</h1>
    <p class="lead">This project is part of the backend section: Dynamic Web Application Projects.<br>
        The goal is to create an application with these <a href="https://www.freecodecamp.org/challenges/build-a-voting-app" target="_blank">instructions</a> and to the example of this <a href="https://fcc-voting-arthow4n.herokuapp.com/polls" target="_blank">link</a>.
        <br>
        I have made some improvements to it.
    </p>
  </div>
  <div class="container text-left">
    <ol class="list-group">
      <li class="list-group-item">
          First of all the application was realized with node.js and express.js for the backend part.<br>
          Angular with angle-cli and bootstrap for the frontend part.
      </li>
      <li class="list-group-item">
          The offline user can see the list of polls and click to view statistics.
      </li>
      <li class="list-group-item">
          Only an administrator can create a poll.<br>
          He can see the list of polls he has created and delete the one he no longer wants.<br>
          He cannot participate in a survey, but only see the statistics.
      </li>
      <li class="list-group-item">
          The logged-in user can participate in a survey, but only once. If it clicks again, it will only be able to view the statistics.
      </li>
      <li class="list-group-item">
          Both administrator and user can reset their password.
      </li>
    </ol>
  </div>
</div>
